<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">

    <mat-form-field>
      <input matInput type="text" name="title" [ngModel]="post?.title" required  minlength="10" maxlength="80" #title="ngModel" placeholder="Task Title: (10-80 characters)">
      <mat-error *ngIf="title.invalid">Please enter a valid title</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput rows="6" name="content" [ngModel]="post?.content" required #content="ngModel" placeholder="Task Description:"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a valid Content</mat-error>
    </mat-form-field>

    <div class="in">
    <mat-form-field class="in">
      <mat-label>Category</mat-label>
      <br>
      <mat-select name="label" [ngModel]="post?.label">
          <mat-option value="personal">Personal</mat-option>
          <mat-option value="work">Work</mat-option>
          <mat-option value="shopping">Shopping</mat-option>
          <mat-option value="others">Others</mat-option>
      </mat-select>
      <!-- <p>You selected: {{selected}}</p> -->
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field class="in">
      <mat-label>Status</mat-label>
      <br>
      <mat-select name="completed" [ngModel]="post?.completed" >
          <mat-option value="New">New</mat-option>
          <mat-option value="In-progress">In Progress</mat-option>
          <mat-option value="Completed">Completed</mat-option>
          <!-- <mat-option value="others">Others</mat-option> -->
      </mat-select>
      <!-- <p>You selected: {{selected}}</p> -->
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field class="in">
      <mat-label>Due Date: Select the date</mat-label>
      <input  matInput [matDatepicker]="picker" [ngModel]="post?.duedate" name="picker"readonly="readonly" >
      <mat-datepicker-toggle   disabled="false" matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false" ></mat-datepicker>
    </mat-form-field>
  </div>
    <br>
    <button mat-raised-button color="accent" type="submit">Save Post</button>

  </form>
</mat-card>

