/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
  background-color:black;
  background-image: linear-gradient(blueviolet,rgb(255, 153, 0));
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.right-aligned-header > .mat-content {
  justify-content: space-between;
}
.mat-content > mat-panel-description {
flex: 0 0 auto;
}
.mat-tab-label{
  font-size: 18px ;
  color: white;
  }
